<p id="notice"><%= notice %></p>

<p>
  <strong>Jan:</strong>
  <%= @cd.jan %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cd.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cd.price %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @cd.label %>
</p>

<p>
  <strong>Released:</strong>
  <%= @cd.released %>
</p>

<p>
  <strong>Is major:</strong>
  <%= @cd.is_major %>
</p>

<%# edit_cd_pathはビューヘルパーで %>
<%# 引数にidを渡すことで %>
<%# /cds/:id/editというパスを返す %>
<%# 引数のcdはやはりオブジェクトのキー値を表している %>
<%# ↓出力されるHTML %>
<%# <a href="/cds/51848956/edit">Edit</a> %>
<%= link_to 'Edit', edit_cd_path(@cd) %> |

<%# cds_pathもビューヘルパーで %>
<%# /cdsというパスを返す %>
<%# ↓出力されるHTML %>
<%# <a href="/cds">Back</a> %>
<%= link_to 'Back', cds_path %>
