<table>
  <tr>
    <th>JANコード</th>
    <th>タイトル</th>
    <th>価格</th>
    <th>アーティスト</th>
    <th>リリース日</th>
    <th>メジャーレーベル？</th>
  </tr>
<%# Ruby構文をそのまま埋め込める %>
<% @cds.each do |cd| %>
  <%# cycleメソッドの例 %>
  <%# eachメソッド配下で指定された値を順番に出力する %>
  <tr style="background-color:<%= cycle('#ffffff', '#FFff99') %>">
    <%# cycleの現在の値を取得する（背景と文字列が同色になる） %>
    <td style="color:<%= current_cycle %>" ><%= cd.jan %></td>
    <td><%= cd.title %></td>
    <td><%= cd.price %></td>
    <td><%= cd.label %></td>
    <td><%= cd.released %></td>
    <td><%= cd.is_major %></td>
  </tr>
<% end %>

</table>