<p id="notice"><%= notice %></p>

<p>
  <strong>Cd:</strong>
  <%= @review.cd %>
</p>

<p>
  <strong>Listener:</strong>
  <%= @review.listener %>
</p>

<p>
  <strong>Status:</strong>
  <%= @review.status %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
