<%# レイアウトテンプレート（デザインの外枠） %>
<!DOCTYPE html>
<html>
  <head>
    <title>Railbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# yieldに個別のテンプレートを埋め込んで出力する %>
    <%# yield: 産出する %>
<%= yield %>
  </body>
</html>

<%# コメントの書き方１ %>
<%# コメントです %>

<%# コメントの書き方２ %>
<% msg = 'これはコメントにはならない。' # ここからはコメント %>

<%# コメントの書き方３ %>
<% if false %>
コメントです
<% end %>

<%# コメントの書き方４ %>
<%# =begin,=endは行頭に書かなければいけない %>
<%
=begin
%>
コメントだよ
<%
=end
%>

<%# HTMLのコメントの書き方 %>
<!-- <%= 'HTMLソースとしては出力されるが' %> -->
<!-- <%= 'ブラウザー上には表示されないコメント' %> -->